<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomappsinc.studentpicker" >

    <application
        android:fullBackupContent="true"
        android:name=".Misc.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.NameListsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/settings"
            android:name=".Activities.SettingsActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Activities.ListActivity"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>
</manifest>
