<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    package="com.randomappsinc.studentpicker"
    >

    <uses-feature android:name="android.hardware.microphone"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        tools:replace="android:label"
        android:name=".init.MyApplication"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        >

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3903394384020535~6080924821"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.randomappsinc.studentpicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity
            android:name=".init.SplashActivity"
            android:theme="@style/SplashTheme"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name=".importdata.ImportFromFileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/import_name_list"
            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".presentation.PresentationActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            />

        <activity
            android:name=".payments.BuyPremiumActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/buy_premium_title"
            />

        <activity
            android:name=".listpage.ListLandingPageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name=".editing.EditNameListActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name=".grouping.GroupMakingActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name=".choosing.NameChoosingActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
    </application>
</manifest>
