<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.randomappsinc.studentpicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        tools:replace="android:label"
        android:fullBackupContent="true"
        android:name=".utils.MyApplication"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/settings"
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activities.ListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:label="@string/import_name_list"
            android:windowSoftInputMode="adjustResize"
            android:name=".activities.ImportFileActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activities.PresentationActivity"
            android:label=""
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activities.BackupActivity"
            android:label="@string/backup_data_title"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>
</manifest>
